{% from "macros/icons.html" import icon %}

<section class="accesos-rapidos" aria-label="Accesos rapidos">
  <h2 class="accesos-rapidos__title">Accesos rapidos</h2>
  <div class="accesos-rapidos__grid">
    <a class="acceso" href="#">
      {{ icon("users", 18) }}
      <span>Nuevo inquilino</span>
    </a>
    <a class="acceso" href="#">
      {{ icon("file-text", 18) }}
      <span>Generar contrato</span>
    </a>
    <a class="acceso" href="#">
      {{ icon("wrench", 18) }}
      <span>Crear ticket</span>
    </a>
  </div>
</section>
